{% extends 'layouts/base00.html' %} {% load static %} {% block content %}

<style>
  @import url('https://fonts.cdnfonts.com/css/orator-std');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orator Std', sans-serif;
  }

  :root {
    --color1: rgb(183, 146, 91);
    /*Color principal de la pagina*/

  }

  body {
    background: white;
  }

  .formbold-main-wrapper {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
  }

  .formbold-form-wrapper {
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
    background: white;
  }

  .formbold-steps {
    padding-bottom: 18px;
    margin-bottom: 35px;
    border-bottom: 1px solid #DDE3EC;
  }

  .formbold-steps ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 40px;
  }

  .formbold-steps li {
    display: flex;
    align-items: center;
    gap: 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color2);
  }

  .formbold-steps li span {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DDE3EC;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
  }

  .formbold-steps li.active {
    color: #07074D;

  }

  .formbold-steps li.active span {
    background: rgb(183, 146, 91);
    color: #FFFFFF;
  }

  .formbold-input-flex {
    display: flex;
    gap: 20px;
    margin-bottom: 22px;
  }

  .formbold-input-flex>div {
    width: 50%;
  }

  .formbold-form-input {
    width: 100%;
    padding: 13px 22px;
    border-radius: 5px;
    border: 1px solid #DDE3EC;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    color: #536387;
    outline: none;
    resize: none;
  }

  .formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold-form-label {
    color: #07074D;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-bottom: 10px;
  }

  .formbold-form-confirm {
    border-bottom: 1px solid #DDE3EC;
    padding-bottom: 35px;
  }

  .formbold-form-confirm p {
    font-size: 16px;
    line-height: 24px;
    color: #536387;
    margin-bottom: 22px;
    width: 75%;
  }

  .formbold-form-confirm>div {
    display: flex;
    gap: 15px;
  }

  .formbold-confirm-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--color1);
    border: 0.5px solid #DDE3EC;
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    transition: all .3s ease-in-out;
  }

  .formbold-confirm-btn {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  }

  .formbold-confirm-btn.active {
    background: var(--color1);
    color: #FFFFFF;
  }

  .form_1,
  .form_2,
  .form_3 {
    display: none;
  }

  .form_1.active,
  .form_2.active,
  .form_3.active {
    display: block;
  }

  .formbold-form-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    margin-top: 25px;
  }

  .btn_volver_1 {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 25px;
    border: none;
    font-weight: 500;
    background-color: var(--color1);
    color: white;
    cursor: pointer;
    display: none;
  }

  .btn_volver_1.active {
    display: block;
  }

  .btn_volver_2 {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 25px;
    border: none;
    font-weight: 500;
    background-color: var(--color1);
    color: white;
    cursor: pointer;
    display: none;
  }

  .btn_volver_2.active {
    display: block;
  }

  .btn_siguiente {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 25px;
    border: none;
    font-weight: 500;
    background-color: var(--color1);
    color: white;
    cursor: pointer;
  }

  .btn_siguiente:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }
</style>

<!--Muestra si algun campo tiene error-->
{% if error != '' %}
<div class="danger alert">
  <div class="content">
    <div class="icon">
      <svg height="50" viewBox="0 0 512 512" width="50" xmlns="http://www.w3.org/2000/svg">
        <path fill="#fff"
          d="M449.07,399.08,278.64,82.58c-12.08-22.44-44.26-22.44-56.35,0L51.87,399.08A32,32,0,0,0,80,446.25H420.89A32,32,0,0,0,449.07,399.08Zm-198.6-1.83a20,20,0,1,1,20-20A20,20,0,0,1,250.47,397.25ZM272.19,196.1l-5.74,122a16,16,0,0,1-32,0l-5.74-121.95v0a21.73,21.73,0,0,1,21.5-22.69h.21a21.74,21.74,0,0,1,21.73,22.7Z" />
      </svg>
    </div>
    <p>{{ error }}</p>
  </div>
  <button class="close">
    <svg height="18px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512"
      width="18px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <path fill="#69727D"
        d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z" />
    </svg>
  </button>
</div>
{% endif %}

<div class="formbold-main-wrapper">
  <div class="formbold-form-wrapper">
    <form action="{% url 'crear_contrato' %}" id="formulario_contrato" method="POST">
      {% csrf_token %}
      <div class="formbold-steps">
        <ul>
          <li class="inmueble_1 active">
            <span>1</span>
            Inmueble
          </li>
          <li class="inquilino_2">
            <span>2</span>
            Inquilino
          </li>
          <li class="confirmar_3">
            <span>3</span>
            Confirmar
          </li>
        </ul>
      </div>

      <!-- form INMUEBLE -->
      <div class="form_1 active">
        <input type="hidden" name="id_inmueble" value="{{ id_inmueble }}">
        <div class="formbold-input-flex">
          <div>
            <label for="nom_propietario" class="formbold-form-label"> Propietario </label>
            <input type="text" name="nom_propietario" value="{{ nom_propietario }}" id="nom_propietario"
              class="formbold-form-input" readonly />
          </div>
          <div>
            <label for="cod_referencia" class="formbold-form-label"> Cod. Referecia </label>
            <input type="text" name="cod_referencia" value="{{ cod_referencia }}" id="cod_referencia"
              class="formbold-form-input" />
          </div>
          <div>
            <label for="dir_inmueble" class="formbold-form-label"> Direccion </label>
            <input type="text" name="dir_inmueble" value="{{ dir_inmueble }}" id="dir_inmueble"
              class="formbold-form-input" />
          </div>
        </div>
        <div class="formbold-input-flex">
          <div>
            <label for="ciudad_inmueble" class="formbold-form-label"> Ciudad </label>
            <input type="text" name="ciudad_inmueble" value="{{ ciudad_inmueble }}" id="ciudad_inmueble"
              class="formbold-form-input" />
          </div>
          <div>
            <label for="num_apto" class="formbold-form-label"> Num. Apto </label>
            <input type="text" name="num_apto" value="{{ num_apto }}" id="num_apto" class="formbold-form-input" />
          </div>
          <div>
            <label for="habitac_maxima" class="formbold-form-label"> Pessoas max </label>
            <input type="number" name="habitac_maxima" value="{{ habitac_maxima }}" id="habitac_maxima"
              class="formbold-form-input" />
          </div>
        </div>

        <div class="formbold-input-flex">
          <div>
            <label for="pass_hall1" class="formbold-form-label"> Senha hall </label>
            <input type="text" name="pass_hall1" value="{{ pass_hall1 }}" id="pass_hall1" class="formbold-form-input" />
          </div>
          <div>
            <label for="pass_hall2" class="formbold-form-label"> Senha hall 2 </label>
            <input type="text" name="pass_hall2" value="{{ pass_hall2 }}" id="pass_hall2" class="formbold-form-input" />
          </div>
          <div>
            <label for="pass_wifi" class="formbold-form-label">Senha Wi-Fi </label>
            <input type="text" name="pass_wifi" value="{{ pass_wifi }}" id="pass_wifi" class="formbold-form-input" />
          </div>
        </div>

        <div class="formbold-input-flex">
          <div>
            <label for="valor_inmueble" class="formbold-form-label"> Valor </label>
            <input type="number" name="valor_inmueble" value="{{ valor_inmueble }}" id="valor_inmueble"
              class="formbold-form-input" />
          </div>
        </div>
        <hr>
      </div>
      <!-- form CLIENTE -->
      <div class="form_2">
        <input type="hidden" name="id_cliente" value="{{ id_cliente }}" id="id_cliente">
        <div class="formbold-input-flex">
          <div>
            <input id="contrato_nombre_cliente" type="text" placeholder="Buscar Cliente" class="formbold-form-input">
          </div>
          <div>
            <select id="lista_dinamica" onchange="seleccionaCliente();" class="formbold-form-input">
            </select>
          </div>
        </div>
        <div class="formbold-input-flex">
          <div>
            <label for="nom_cliente" class="formbold-form-label"> nom cliente </label>
            <input type="text" name="nom_cliente" value="{{ nom_cliente }}" id="nom_cliente"
              class="formbold-form-input" />
          </div>
          <div>
            <label for="rg_cliente" class="formbold-form-label"> RG cliente </label>
            <input type="number" name="rg_cliente" value="{{ rg_cliente }}" id="rg_cliente"
              class="formbold-form-input" />
          </div>
          <div>
            <label for="dni_cliente" class="formbold-form-label"> Dni cliente </label>
            <input type="number" name="dni_cliente" value="{{ dni_cliente }}" id="dni_cliente"
              class="formbold-form-input" />
          </div>
        </div>

        <div class="formbold-input-flex">
          <div>
            <label for="dir_cliente" class="formbold-form-label"> Direccion cliente </label>
            <input type="text" name="dir_cliente" value="{{ dir_cliente }}" id="dir_cliente"
              class="formbold-form-input" />
          </div>
          <div>
            <label for="ciudad_cliente" class="formbold-form-label"> Ciudad cliente </label>
            <input type="text" name="ciudad_cliente" value="{{ ciudad_cliente }}" id="ciudad_cliente"
              class="formbold-form-input" />
          </div>
          <div>
            <label for="tel_cliente" class="formbold-form-label"> Tel cliente </label>
            <input type="tel" name="tel_cliente" value="{{ tel_cliente }}" id="tel_cliente"
              class="formbold-form-input" />
          </div>

        </div>

        <div class="formbold-input-flex">
          <div>
            <label for="email_cliente" class="formbold-form-label"> E-mail cliente </label>
            <input type="tel" name="email_cliente" value="{{ email_cliente }}" id="email_cliente"
              class="formbold-form-input" />
          </div>
        </div>
        <hr>
      </div>
      <!-- form FECHAS Y CONFIRMACION -->
      <div class="form_3">
        <div class="formbold-input-flex">
          <div>
            <label for="fecha_ing" class="formbold-form-label"> Fecha ing </label>
            <input type="date" name="fecha_ing" value="" id="fecha_ing" class="formbold-form-input" />
          </div>
          <div>
            <label for="fecha_salida" class="formbold-form-label"> Fecha salida </label>
            <input type="date" name="fecha_salida" value="" id="fecha_salida" class="formbold-form-input" />
          </div>
          <div>
            <label for="cant_dias" class="formbold-form-label"> Cant dias </label>
            <input type="number" name="cant_dias" id="cant_dias" class="formbold-form-input" readonly />
          </div>
        </div>
        <div class="formbold-input-flex">
          <div>
            <label for="valor_total" class="formbold-form-label"> Taxa de limpeza</label>
            <input type="number" name="taxa_limpeza" id="taxa_limpeza" class="formbold-form-input" value="170" />
          </div>
          <div>
            <label for="valor_total" class="formbold-form-label"> Valor total </label>
            <input type="number" name="valor_total" id="valor_total" class="formbold-form-input" />
          </div>
          <div>
            <label for="monto_reserva" class="formbold-form-label"> Monto reserva </label>
            <input type="number" name="monto_reserva" id="monto_reserva" class="formbold-form-input" value="0" />
          </div>
        </div>
        <div class="formbold-input-flex">
          <div>
            <label for="saldo_pendiente" class="formbold-form-label"> Saldo pendiente </label>
            <input type="number" name="saldo_pendiente" id="saldo_pendiente" class="formbold-form-input" />
          </div>
          <div>
            <label for="datos_envio" class="formbold-form-label"> Datos envio </label>
            <input type="text" name="datos_envio" id="datos_envio" class="formbold-form-input" />
          </div>
        </div>
        <hr>
        <div class="formbold-form-confirm">
          <p>
            Bombas. Bombinhas - SC. CEP: 88215-000. Plantão Locação: María Eugenia Cáceres Corretora (47)9 9919-7056
          </p>

          <div>
            <button class="btn_volver_2">
              Atras
            </button>
            <a href="#" class="formbold-confirm-btn">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="11" cy="11" r="10.5" fill="white" stroke="#DDE3EC" />
                <g clip-path="url(#clip0_1667_1314)">
                  <path
                    d="M9.83343 12.8509L15.1954 7.48828L16.0208 8.31311L9.83343 14.5005L6.12109 10.7882L6.94593 9.96336L9.83343 12.8509Z"
                    fill="#536387" />
                </g>
                <defs>
                  <clipPath id="clip0_1667_1314">
                    <rect width="14" height="14" fill="white" transform="translate(4 4)" />
                  </clipPath>
                </defs>
              </svg>
              Cancelar!
            </a>
            <button type="submit" class="formbold-confirm-btn active" id="crear_contrato">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="11" cy="11" r="10.5" fill="white" stroke="#DDE3EC" />
                <g clip-path="url(#clip0_1667_1314)">
                  <path
                    d="M9.83343 12.8509L15.1954 7.48828L16.0208 8.31311L9.83343 14.5005L6.12109 10.7882L6.94593 9.96336L9.83343 12.8509Z"
                    fill="#536387" />
                </g>
                <defs>
                  <clipPath id="clip0_1667_1314">
                    <rect width="14" height="14" fill="white" transform="translate(4 4)" />
                  </clipPath>
                </defs>
              </svg>
              Confirmar Contrato?
            </button>
          </div>
        </div>
        <hr>
      </div>

      <div class="formbold-form-btn-wrapper">
        <button class="btn_volver_1">
          Atras
        </button>

        <button class="btn_siguiente">
          Siguiente
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock%}