{% extends 'layouts/base00.html' %}
{% load static %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

<style>
    .error-box {
        font-size: 1rem;
        max-width: 30%; /* Hacer el cartel más angosto */
        margin: 20px auto 0 auto; /* Ajustar margen */
        padding: 10px; /* Ajustar el relleno */
        border-radius: 5px;
        border: 2px solid rgb(183, 146, 91);
        background-color: rgb(238, 208, 161);
        text-align: center;
    }

    /* Estilo para los inputs */
    #username,
    #password {
        width: 35%; /* Ancho de los inputs al 35% */
        margin: 0 auto; /* Centrar los inputs */
    }
</style>

<h3 class="text-center">LOGIN</h3>
<div class="container">
    {% if form.errors %}
    <div class="alert alert-danger text-center error-box" role="alert">
        <h6 class="mb-1">LOGIN ERROR!!!!</h6>
        {% for field in form %}
            {% for error in field.errors %}
                <p class="mb-0">{{ error }}</p>
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
    <form action="/accounts/login/" method="post">
        {% csrf_token %}

        <div class="form-group text-center"> <!-- Centrar los campos de entrada -->
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" id="username" class="form-control"> <!-- Ajustar el ancho de los inputs -->
        </div>
        <div class="form-group text-center"> <!-- Centrar los campos de entrada -->
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-control"> <!-- Ajustar el ancho de los inputs -->
        </div>
        <button type="submit" class="btn btn-primary">ENTRAR</button>
    </form>
</div>

{% endblock %}
