{% extends 'layouts/base00.html' %}

{% load static %}

{% block content %}


<style>
    .disponible {
        position: relative;
        margin-left: 240px;
        width: calc(100% - 240px);
    }


    #calendarDisponibles {
        position: relative;
        max-width: 800px;
        margin: 40px auto;
        margin-left: 240px;
        width: calc(100% - 240px);

    }

    .form_input {
        display: block;
        width: calc(100% - 230px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: .375rem;
        transition: border-color .15s ease-in-out,
            box-shadow .15s ease-in-out;
    }

    /* Ajusta los estilos de los botones */
    button {
        background-color: rgb(198, 156, 60);
        color: black;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        flex: 1;
        /* Permite que los botones se ajusten dentro del contenedor */
    }

    .btn_calendar {
        width: 140px;
    }

    button:hover {
        color: white;
    }
</style>

<div class="disponible">
    <h1>Disponibilidade</h1>
    <input type="text" class="form_input" id="cod_referencia" name="cod_referencia" placeholder="Cód. Referência"
        required><br>
    <input type="text" class="form_input" id="dir_inmueble" name="dir_inmueble" placeholder="Direção" readonly><br>
    <button type="button" id="btn_calendar" class="btn_calendar"><i class="fa-solid fa-cloud-arrow-up"></i> Ver
    </button>
</div>

<div id='calendarDisponibles'></div>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
<script src="{% static 'assets/js/calendar.js' %}"></script>

{% endblock%}