{% extends 'layouts/base00.html' %} {% load static %} {% block content %}

<div class="formbold-main-wrapper">
  <div class="formbold-form-wrapper">

    <!--Muestra si algun campo tiene error-->
    {% if error != '' %}
    <div class="danger alert">
      <div class="content">
        <div class="icon">
          <svg height="50" viewBox="0 0 512 512" width="50" xmlns="http://www.w3.org/2000/svg">
            <path fill="#fff"
              d="M449.07,399.08,278.64,82.58c-12.08-22.44-44.26-22.44-56.35,0L51.87,399.08A32,32,0,0,0,80,446.25H420.89A32,32,0,0,0,449.07,399.08Zm-198.6-1.83a20,20,0,1,1,20-20A20,20,0,0,1,250.47,397.25ZM272.19,196.1l-5.74,122a16,16,0,0,1-32,0l-5.74-121.95v0a21.73,21.73,0,0,1,21.5-22.69h.21a21.74,21.74,0,0,1,21.73,22.7Z" />
          </svg>
        </div>
        <p>{{ error }}</p>
      </div>
      <button class="close">
        <svg height="18px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512"
          width="18px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <path fill="#69727D"
            d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z" />
        </svg>
      </button>
    </div>
    {% endif %}

    <!--Muestra si algun campo tiene error-->
    {% if success != '' %}
    <div class="success alert">
      <div class="content">

        <div class="icon">
          <svg width="50" height="50" id="Layer_1" style="enable-background:new 0 0 128 128;" version="1.1"
            viewBox="0 0 128 128" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <g>
              <circle fill="#fff" cx="64" cy="64" r="64" />
            </g>
            <g>
              <path fill="#3EBD61"
                d="M54.3,97.2L24.8,67.7c-0.4-0.4-0.4-1,0-1.4l8.5-8.5c0.4-0.4,1-0.4,1.4,0L55,78.1l38.2-38.2   c0.4-0.4,1-0.4,1.4,0l8.5,8.5c0.4,0.4,0.4,1,0,1.4L55.7,97.2C55.3,97.6,54.7,97.6,54.3,97.2z" />
            </g>
          </svg>
        </div>
        <p>{{ success }}</p>
      </div>
      <button class="close">
        <svg height="18px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512"
          width="18px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <path fill="#69727D"
            d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z" />
        </svg>
      </button>
    </div>
    {% endif %}

    {% if editar %}
    <form action="{% url 'editar_propiedad' editar %}" id="formulario_inmueble" method="POST"
      enctype="multipart/form-data">
      {% else %}
      <form action="{% url 'crear_propiedad' %}" id="formulario_inmueble" method="POST" enctype="multipart/form-data">
        {% endif %}
        {% csrf_token %}
        <input type="hidden" name="latitud" id="lat" value="">
        <input type="hidden" name="longitud" id="lon" value="">
        <div class="formbold-steps">
          <ul>
            <li class="parte_1 active">
              <span>1</span>
              Cadastro de Imoveis
            </li>
            <li class="parte_2">
              <span>2</span>
              Cadastro de Imoveis
            </li>
            <li class="confirmar_3">
              <span>3</span>
              Serviços
            </li>
          </ul>
        </div>

        <!-- PRIMER HOJA -->
        <div class="form_1 active">
          <!-- pantalla 1 linea 1-3 cajas-->
          <div class="formbold-input-flex">
            <div>
              <label for="dir_inmueble" class="formbold-form-label"> Direção </label>
              <input type="text" name="dir_inmueble" id="dir_inmueble" class="formbold-form-input" {% if inedit %}
                value="{{ inedit.dir_inmueble }}" {% else %} value="{{ inmueble.dir_inmueble.value }}" {% endif %} />
            </div>
            <div>
              <label for="bloco_inmueble" class="formbold-form-label"> Bloco </label>
              <input type="text" name="bloco_inmueble" id="bloco_inmueble" class="formbold-form-input" {% if inedit %}
                value="{{ inedit.bloco_inmueble }}" {% else %} value="{{ inmueble.bloco_inmueble.value | default:'0' }}"
                {% endif %} />
            </div>
            <div>
              <label for="num_apto" class="formbold-form-label"> Num. Apto. </label>
              <input type="text" name="num_apto" id="num_apto" class="formbold-form-input" {% if inedit %}
                value="{{ inedit.num_apto}}" {% else %} value="{{ inmueble.num_apto.value | default:'0' }}"
                {% endif %} />
            </div>
          </div>
          <!-- pantalla 1 linea 2-3 cajas-->
          <div class="formbold-input-flex">
            <div>
              <label for="cod_referencia" class="formbold-form-label"> Cód. Referência </label>
              <input type="text" name="cod_referencia" id="cod_referencia" class="formbold-form-input" {% if inedit %}
                value="{{ inedit.cod_referencia }}" {% else %} value="{{ inmueble.cod_referencia.value }}"
                {% endif %} />
            </div>
            <div>
              <label for="barrio_inmueble" class="formbold-form-label"> Barrio </label>
              <input type="text" name="barrio_inmueble" id="barrio_inmueble" class="formbold-form-input" {% if inedit %}
                value="{{ inedit.barrio_inmueble }}" {% else %} value="{{ inmueble.barrio_inmueble.value }}"
                {% endif %} />
            </div>
            <div>
              <label for="ciudad_inmueble" class="formbold-form-label"> Cidade </label>
              <input type="text" name="ciudad_inmueble" id="ciudad_inmueble" class="formbold-form-input" {% if inedit %}
                value="{{ inedit.ciudad_inmueble }}" {% else %} value="{{ inmueble.ciudad_inmueble.value }}"
                {% endif %} />
            </div>
          </div>

          <!-- pantalla 1 linea 3-3 cajas-->
          <div class="formbold-input-flex">
            <div>
              <label for="sup_total" class="formbold-form-label"> Sup. Total </label>
              <input type="number" name="sup_total" id="sup_total" class="formbold-form-input" {% if inedit %}
                value="{{ inedit.sup_total }}" {% else %} value="{{ inmueble.sup_total.value | default:'0' }}"
                {% endif %} />
            </div>
            <div>
              <label for="sup_cubierta" class="formbold-form-label"> Sup. Coberta </label>
              <input type="number" name="sup_cubierta" id="sup_cubierta" class="formbold-form-input" {% if inedit %}
                value="{{ inedit.sup_cubierta}}" {% else %} value="{{ inmueble.sup_cubierta.value | default:'0'}}"
                {% endif %} />
            </div>
            <div>
              <label for="sup_semicub" class="formbold-form-label"> Sup. Semi Coberta </label>
              <input type="number" name="sup_semicub" id="sup_semicub" class="formbold-form-input" {% if inedit %}
                value="{{ inedit.sup_semicub }}" {% else %} value="{{ inmueble.sup_semicub.value | default:'0' }}"
                {% endif %} />
            </div>
          </div>
          <hr>
        </div>

        <!-- SEGUNDA HOJA -->
        <div class="form_2">
          <!-- pantalla 2 linea 1-3 cajas-->
          <div class="formbold-input-flex">
            <div>
              <label for="cant_plantas" class="formbold-form-label"> Quant. Plantas </label>
              <input type="number" name="cant_plantas" id="cant_plantas" class="formbold-form-input" {% if inedit %}
                value="{{ inedit.cant_plantas }}" {% else %} value="{{ inmueble.cant_plantas.value | default:'0'}}"
                {% endif %} />
            </div>

            <div>
              <label for="cant_dormitorios" class="formbold-form-label"> Quant. Quartos </label>
              <input type="number" name="cant_dormitorios" id="cant_dormitorios" class="formbold-form-input"
                {% if inedit %} value="{{ inedit.cant_dormitorios }}" {% else %}
                value="{{ inmueble.cant_dormitorios.value | default:'0' }}" {% endif %} />
            </div>

            <div>
              <label for="cant_banos" class="formbold-form-label"> Quant. Banheiros </label>
              <input type="number" name="cant_banos" id="cant_banos" class="formbold-form-input" {% if inedit %}
                value="{{ inedit.cant_banos }}" {% else %} value="{{ inmueble.cant_banos.value | default:'0' }}"
                {% endif %} />
            </div>

            <div>
              <label for="habitac_maxima" class="formbold-form-label"> Cap. Máxima </label>
              <input type="number" name="habitac_maxima" id="habitac_maxima" class="formbold-form-input" {% if inedit %}
                value="{{ inedit.habitac_maxima }}" {% else %} value="{{ inmueble.habitac_maxima.value | default:'0' }}"
                {% endif %} />
            </div>
          </div>

          <!-- pantalla 2 linea 2-3 cajas-->
          <div class="formbold-input-flex">
            <div>
              <label for="descripcion" class="formbold-form-label"> Descrição </label>
              <input type="text" name="descripcion" id="descripcion" class="formbold-form-input" {% if inedit %}
                value="{{ inedit.descripcion }}" {% else %} value="{{ inmueble.descripcion.value }}" {% endif %} />
            </div>
            <div>
              <label for="valor_inmueble" class="formbold-form-label"> Valor </label>
              <input type="number" name="valor_inmueble" id="valor_inmueble" class="formbold-form-input" {% if inedit %}
                value="{{ inedit.valor_inmueble }}" {% else %} value="{{ inmueble.valor_inmueble.value }}"
                {% endif %} />
            </div>
            <div>
              <label for="nombre_red" class="formbold-form-label"> Nome Rede</label>
              <input type="text" name="nombre_red" id="nombre_red" class="formbold-form-input" {% if inedit %}
                value="{{ inedit.nombre_red}}" {% else %} value="{{ inmueble.nombre_red.value | default:'S/D' }}"
                {% endif %} />
            </div>
          </div>

          <!-- pantalla 2 linea 3-3 cajas-->
          <div class="formbold-input-flex">
            <div>
              <label for="clave_puerta_ingreso" class="formbold-form-label"> Senha Ingreso 1 </label>
              <input type="text" name="clave_puerta_ingreso" id="clave_puerta_ingreso" class="formbold-form-input"
                {% if inedit %} value="{{ inedit.clave_puerta_ingreso }}" {% else %}
                value="{{ inmueble.clave_puerta_ingreso.value | default:'0'}}" {% endif %} />
            </div>
            <div>
              <label for="clave_puerta_ingreso2" class="formbold-form-label"> Senha Ingreso 2 </label>
              <input type="text" name="clave_puerta_ingreso2" id="clave_puerta_ingreso2" class="formbold-form-input"
                {% if inedit %} value="{{ inedit.clave_puerta_ingreso2 }}" {% else %}
                value="{{ inmueble.clave_puerta_ingreso2.value | default:'0'}}" {% endif %} />
            </div>
            <div>
              <label for="clave_wifi" class="formbold-form-label"> Senha WI-FI </label>
              <input type="text" name="clave_wifi" id="clave_wifi" class="formbold-form-input" {% if inedit %}
                value="{{ inedit.clave_wifi }}" {% else %} value="{{ inmueble.clave_wifi.value | default:'S/D' }}"
                {% endif %} />
            </div>
          </div>
          <hr>
        </div>
        <!-- TERCER HOJA -->
        <div class="form_3">
          <!-- pantalla 3 linea 1-5 cajas-->
          <div class="formbold-input-flex">
            <input id="_nombre_propietario" type="text" placeholder="Insira o nome do cliente"
              class="formbold-form-input">
          </div>
          <div class="formbold-input-flex">
            <div>
              <label class="formbold-form-label">Cliente/Proprietario</label>
              <select id="lista_dinamica2" name="cliente_id" class="formbold-form-input" style="margin-top: 0;">
                {% if inedit %}
                <option value="">Selecciona</option>
                  {% for c in clientes %}
                    {% if inedit.cliente_id.id_cliente == c.id_cliente %}
                      <option value="{{ c.id_cliente }}" selected>{{ c.nom_cliente }}</option>
                    {% else %}
                      <option value="{{ c.id_cliente }}">{{ c.nom_cliente }}</option>
                    {% endif %}
                  {% endfor %}
                {% endif %}

                {% if inmueble %}
                <option value="">Selecciona</option>
                  {% for c in clientes %}
                    {% if inmuebleClienteId == c.id_cliente %}
                      <option value="{{ c.id_cliente }}" selected>{{ c.nom_cliente }}</option>
                    {% elif clienteseleccionado == c.id_cliente %}
                      <option value="{{ c.id_cliente }}" selected>{{ c.nom_cliente }}</option>
                    {% else %}
                      <option value="{{ c.id_cliente }}">{{ c.nom_cliente }}</option>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </select>
            </div>

            <div>
              <label class="formbold-form-label">Tipo Operação</label>
              <select id="tipo_operacion" name="tipo_operacion" class="formbold-form-input" style="margin-top: 0;"
                required>
                {% if inedit %}
                <option value="{{ inedit.tipo_operacion }}" selected>{{ inedit.tipo_operacion }}</option>
                {% elif inmueble %}
                <option value="{{ inmueble.tipo_operacion.value }}" selected>{{ inmueble.tipo_operacion.value }}</option>
                {% endif %}
                <option value="">Selecione</option>
                <option value="Alquiler temporario">Aluguer Temporário</option>
                <option value="Alquiler permanente">Aluguer Anual</option>
                <option value="Venta">Venda</option>
              </select>
            </div>
          </div>
          <!-- pantalla 3 linea 2-5 cajas-->
          <div class="formbold-input-flex">
            <div>
              <label class="formbold-form-label">Tipo Propriedad</label>
              <select id="tipo_inmueble" name="tipo_inmueble" class="formbold-form-input" style="margin-top: 0;"
                required>
                {% if inedit %}
                <option value="{{ inedit.tipo_inmueble }}" selected>{{ inedit.tipo_inmueble }}</option>
                {% elif inmueble %}
                <option value="{{ inmueble.tipo_inmueble.value }}" selected>{{ inmueble.tipo_inmueble.value }}</option>
                {% endif %}
                <option value="">Selecione</option>
                <option value="Casa">Casa</option>
                <option value="Departamento">Apartamento</option>
                <option value="Apart">Apart</option>
                <option value="Complejo">Complexo</option>
                <option value="Oficina">Posadas</option>
                <option value="Oficina">Cobertura</option>
                <option value="Oficina">Terreno</option>
                <option value="Oficina">Escritório</option>
                <option value="Otros">Otros</option>
              </select>
            </div>

            <div>
              <label class="formbold-form-label">Condição</label>
              <select id="condicion" name="condicion" class="formbold-form-input" style="margin-top: 0;" required>
                <{% if inedit %} <option value="{{ inedit.condicion }}" selected>{{ inedit.condicion }}</option>
                  {% elif inmueble %}
                  <option value="{{ inmueble.condicion.value }}" selected>{{ inmueble.condicion.value }}</option>
                  {% endif %}
                  <option value="">Selecione</option>
                  <option value="Muy buena">Muito Bom</option>
                  <option value="Buena">Bom</option>
                  <option value="Regular">Regular</option>
                  <option value="Mala">Mala</option>
              </select>
            </div>
          </div>
          <div class="formbold-form-confirm"></div>
          <!-- pantalla 3 linea 3-5 cajas-->
          <div class="formbold-input-flex">
            <div class="check">
              <input type="checkbox" id="cochera" name="cochera" value="true" {% if inedit.cochera %} checked {% elif inmueble.cochera.value %} checked {% endif %}>
              <label class="">Garagem</label>
            </div>

            <div class="check">
              <input type="checkbox" id="cochera_rotativa" name="cochera_rotativa" value="true"
                {% if inedit.cochera_rotativa %} checked {% elif inmueble.cochera_rotativa.value %} checked {% endif %}>
              <label class="">Garagem Rotativa</label>
            </div>

            <div class="check">
              <input type="checkbox" id="exclusividad" name="exclusividad" value="true" {% if inedit.exclusividad %}
                checked {% elif inmueble.exclusividad.value %} checked {% endif %}>
              <label class="">Exclusividade</label>
            </div>

            <div class="check">
              <input type="checkbox" id="expensas" name="expensas" value="true" {% if inedit.expensas %} checked
                {% elif inmueble.expensas.value %} checked {% endif %}>
              <label class="">Expensas</label>
            </div>
          </div>
          <!-- pantalla 3 linea 4-5 cajas-->
          <div class="formbold-input-flex">
            <div class="check">
              <input type="checkbox" name="tipo_servicio" value="WI-FI">
              <label class="" for="wifi">WI-FI</label>
            </div>

            <div class="check">
              <input type="checkbox" name="tipo_servicio" value="Ropa de cama">
              <label class="" for="ropa_cama">Roupa/Cama</label>
            </div>

            <div class="check">
              <input type="checkbox" name="tipo_servicio" value="Piscinas">
              <label class="" for="piscinas">Piscinas</label>
            </div>

            <div class="check">
              <input type="checkbox" name="tipo_servicio" value="Mucama">
              <label class="" for="mucama">Faxina</label>
            </div>
          </div>
          <div class="formbold-form-confirm"></div>
          <!-- pantalla 3 linea 5-5 cajas-->
          {% if not editar %}
          <div class="formbold-input-flex">
            <label class="">Selecione Imagens</label>
            <input type="file" id="imgs" name="imgs" multiple>
          </div>
          {% endif %}

          <!-- <div class="formbold-input-flex" style="margin-left: -50px; position: sticky;">
          <p id="location-info"></p>

          <div id="map_container" style="width: 100%;">
            <div id="map" style="width: 800px; height: 400px;">
            </div>
            <div id="loading-spinner" class="loading-spinner"></div>
          </div>
        </div> -->

          <div class="formbold-form-confirm">
            <div>
              <button class="btn_volver_2">
                Atras
              </button>
              <a href="{% url 'index' %}" class=" formbold-confirm-btn">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="11" cy="11" r="10.5" fill="white" stroke="#DDE3EC" />
                  <g clip-path="url(#clip0_1667_1314)">
                    <path
                      d="M9.83343 12.8509L15.1954 7.48828L16.0208 8.31311L9.83343 14.5005L6.12109 10.7882L6.94593 9.96336L9.83343 12.8509Z"
                      fill="#536387" />
                  </g>
                  <defs>
                    <clipPath id="clip0_1667_1314">
                      <rect width="14" height="14" fill="white" transform="translate(4 4)" />
                    </clipPath>
                  </defs>
                </svg>
                Cancelar!
              </a>
              <button type="submit" class="formbold-confirm-btn active" id="send">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="11" cy="11" r="10.5" fill="white" stroke="#DDE3EC" />
                  <g clip-path="url(#clip0_1667_1314)">
                    <path
                      d="M9.83343 12.8509L15.1954 7.48828L16.0208 8.31311L9.83343 14.5005L6.12109 10.7882L6.94593 9.96336L9.83343 12.8509Z"
                      fill="#536387" />
                  </g>
                  <defs>
                    <clipPath id="clip0_1667_1314">
                      <rect width="14" height="14" fill="white" transform="translate(4 4)" />
                    </clipPath>
                  </defs>
                </svg>
                Confirmar Inmueble?
              </button>
            </div>
          </div>
          <hr>
        </div>

        <div class="formbold-form-btn-wrapper">
          <button class="btn_volver_1">
            Atrás
          </button>

          <button class="btn_siguiente">
            Siguiente
          </button>
        </div>
      </form>
  </div>
</div>

<!-- {-{ puntos|json_script:"puntos_json" }-} -->

<script>
  let inmueble_Form = true 
  let editar = false 
  {% if editar %}
  editar = true
  {% endif %}
</script>
<script src="{% static '/assets/js/validacion_inmueble.js' %}"></script>

{% endblock %}