{% extends 'layouts/base00.html' %}

{% load static %}

{% block content %}

<div id="overlay"></div>

{% for D in detalle %}
<div class="box">
    <div class="dir">
        <p>{{  D.dir_inmueble  }}</p>
    </div>

    <div class="operacion">
        <p>{{ D.tipo_operacion }}</p>
    </div>

    <div class="valor">
        <p>U$S {{ D.valor_inmueble }}</p>
    </div>

    <div class="carrusel">
        <div class="atras botones">&#60;</div>
        <div class="adelante botones">&#62;</div>
        <img src="https://i.kinja-img.com/gawker-media/image/upload/s--w6bO7tA3--/c_scale,fl_progressive,q_80,w_800/811116324189419953.jpg"
            alt="" class="carruselImagen">
    </div>


    <div class="info-basica">
        <h3>INFORMACION BASICA</h3>
        <hr class="hr_detalle">
        <!-- va una table 2 columnas x 4 filas -->
        <label for="">Ciudad: {{ D.ciudad_inmueble }}</label>
        <label for="">Tipo Inmueble: {{ D.tipo_inmueble }}</label>
        <label for="">Cantidad Plantas: {{ D.cant_plantas }}</label>
        <label for="">Cantidad Dormitorios: {{ D.cant_dormitorios }}</label>
        <label for="">Cantidad Baños: {{ D.cant_banos }}</label>
    </div>

    <div class="sup-medidas">
        <h3>SUPERFIC"IES Y ADICIONALES</h3>
        <hr>

        <label for="">Sup. Total: {{ D.sup_total }}</label>
        <label for="">Sup. Cubierta: {{ D.sup_cubierta }}</label>
        <label for="">Sup. Semicubierta: {{ D.sup_semicubierta}}</label>
        <label for="">Cochera: {% if D.cochera %}SI{% else %}NO{% endif %}</label>
        <label for="">Expensas: {% if D.expensas %}SI{% else %}NO{% endif %}</label>
    </div>


    <div class="descripcion">
        <h3>DESCRIPCION</h3>
        <hr>
        <p>{{ D.descripcion }}</p>
    </div>

    <div class="servicios">
        <h3>SERVICIOS</h3>
        <hr>
        <label for=""> {{ D.tipo_servicio }} </label>

    </div>


    <div class="mapa">
        <h3>UBICACION</h3>
        <hr><br>
        <p id="location-info"></p>

        <div id="map_container">
            <div id="map" style="width: 800px; height: 400px;">
            </div>
            <div id="loading-spinner" class="loading-spinner"></div>
        </div>

    </div>

    <!-- {-{ puntos|json_script:"puntos_json" }-} -->
</div>

<script>
    let d_InmuebleOnPin = '{{ D.dir_inmueble }}'
    let inmueble_html = true
</script>

{% endfor %}
{% endblock%}