{% extends 'layouts/base00.html' %}

{% load static %}

{% block content %}

<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"/>

<div id="overlay"></div>
<link rel="stylesheet" href="{% static '/style/inmueble_detalles.css' %}">
<style>
    .carruselImagen {
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
        width: 1000px;
        height: 500px;
    }

    .imagen {
        grid-column: 1/3;
        margin: 10px auto auto 300px;

    }

    div.carrusel {
        grid-column: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px auto auto 300px;
        width: 100%;
        position: relative;
        padding: 10px;
        height: 50vh;
        max-height: 200px;

    }

    .botones {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, .3);
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        position: absolute;
        color: #fff;
        box-shadow: 0 0 10px rgba(255, 255, 255, .6);
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        top: 45%;
    }

    @media only screen and (min-width:326px) {
        .botones {
            font-size: 20px;
            width: 50px;
            height: 50px;
            line-height: 50px;
        }

        div.carrusel {
            max-height: 100%;
            min-height: 500px;
        }
    }

    .botones:hover {
        cursor: pointer;
        box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }

    .atras {
        left: 2%;
    }

    .adelante {
        right: 2%;
    }

    
        .background-container {
            background-size: cover;
            background-position: center;
            position: fixed;
            height: 100vh; /* Ajusta según tus necesidades */
            width: 100%; /* Ajusta según tus necesidades */
            z-index: -1;
                    
        }
    </style>
    

</style>

    <div class="background-container">
        <img src="{% static '/assets/fondo.jpg' %}" alt="logo">
  </div>

{% for D in detalle %}
<input type="hidden" name="codRef" id="cod_ref" value="{{ D.cod_referencia }}">
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="titulo-single-box">
                    <h1 class="titulo-single">{{ D.tipo_inmueble }} - {{ D.dir_inmueble }}</h1>
                    <h1 class="titulo-single">R$ {{ D.valor_inmueble }}</h1>
                    <span class="color-text-a">{{ D.tipo_operacion }}</span>
                    {% if user.is_authenticated %}
                    {% if D.tipo_operacion != 'Venta' %}
                    | <a href="{% url 'contrato_idInmueble' D.id_inmueble %}">Contratar</a>
                    {% endif %}
                    | <a href="{% url 'editar_propiedad' D.id_inmueble %}">Edit <i class='fa-solid fa-pencil'></i></a>
                    {% endif %}
                </div>
                {% if not user.is_authenticated %}
                <button class="contactar" id="contactar">Quer mais informações? Entre em contato!</button>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<div class="box">
    <div class="formbold-form-btn-wrapper">
        <a href="https://wa.me/?text=¡Mira esta propiedad! {{ request.build_absolute_uri }}" class="share-link" target="_blank">

            <button class="btn_compartir" id="btn_compartir">
                WhatsApp <i class="fab fa-whatsapp" style="color: #25D366;"></i>
            </button>
        </a>
        
        <a href="https://www.instagram.com/imoveis.mec?igsh=MTFuZm14b2M5bGI4ZQ%3D%3D {{ request.build_absolute_uri }}" class="share-link" target="_blank">
            <button class="btn_compartir" id="btn_compartir">
                Instagram <i class="fab fa-instagram" style="color: #E1306C;"></i>
            </button>
        </a>

        <a href="https://www.messenger.com/share?link= {{ request.build_absolute_uri }}" class="share-link" target="_blank">
            <button class="btn_compartir" id="btn_compartir">
                Messenger <i class="fab fa-facebook-messenger" style="color: #0084FF;"></i>
            </button>
        </a>

        <a href="#formulario_msg">
            <button class="btn_compartir" id="ir_a_msg">
                Mail <i class="fa-regular fa-envelope"></i>
            </button>
        </a>
        
        <button class="btn_foto" id="btn_foto">
          Fotos
        </button>
        {%if video %}
            <button class="btn_video" id="btn_video">
            Video
            </button>
        {% endif %}
    </div>

    
    <div class="carrusel" id="carrusel">
        <div class="atras botones">&#60;</div>  
        <div class="adelante botones">&#62;</div>
        <img src="" alt="" class="carruselImagen">
    </div>
    <div class="carrusel" id="video" style="display: none;">
        <video controls width="640" height="360" class="carruselVideo">
            Tu navegador no soporta la etiqueta de video.
        </video>
    </div>
    
    <div class="info-basica">
        <div class="row" style="width: 1320px;">
            <div class="col-12 col-md-4">
                <div class="card border border-info border-5" style="height: 350px">
                    <div class="card-body">
                        <div class="titulo-box-d text-center">
                            <h3 class="titulo-d">INFORMAÇÃO BASICA</h3>    
                        </div>

                        <!-- va una table 2 columnas x 4 filas -->
                        <div class="d-flex justify-content-between">
                            <label>Cidade:</label>
                            <span>{{ D.ciudad_inmueble }}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <label>Tipo Imóvel:</label>
                            <span>{{ D.tipo_inmueble }}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <label>Quantidade Plantas:</label>
                            <span>{{ D.cant_plantas }}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <label>Quantidade Quartos:</label>
                            <span>{{ D.cant_dormitorios }}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <label>Cantidad Banheiros:</label>
                            <span>{{ D.cant_banos }}</span>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-12 col-md-4">
                <div class="card border border-info border-5" style="height: 350px">
                    <div class="card-body text-center">
                        <div class="titulo-box-d">
                            <h3 class="titulo-d">SUPERFICIES E ADICIONAIS</h3>
                        </div>
                        <div class="d-flex justify-content-between">
                            <label>Sup. Total:</label>
                            <span>{{ D.sup_total }} m2</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <label>Sup. Coberta:</label>
                            <span>{{ D.sup_cubierta }} m2</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <label>Sup. Semicoberta:</label>
                            <span>{{ D.sup_semicub}} m2</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <label>Garagem:</label>
                            <span>{% if D.cochera %}SI{% else %}NO{% endif %}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <label>Garagem Rotativo:</label>
                            <span>{% if D.cochera_rotativa %}SI{% else %}NO{% endif %}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <label>Tasa de Limpieza:</label>
                            <span>{% if D.expensas %}SI{% else %}NO{% endif %}</span>
                        </div>
                    </div>
                </div>
            </div>
        

            <div class="col-12 col-md-4">
                <div class="card border border-info border-5" style="height: 350px">
                    <div class="card-body">
                        <div class="servicios">
                            <div class="titulo-box-d text-center">
                                <h3 class="titulo-d">SERVIÇOS</h3>
                            </div>
                            <label for=""> {{ D.tipo_servicio }} </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 col-md-6 mb-3">
            <div class="descripcion">
                <div class="titulo-box-d">
                    <h3 class="titulo-d">DESCRIPÇÃO</h3>
                    <h4 class="titulo-d">{{ D.tipo_inmueble }} - {{ D.dir_inmueble }}</h4>
                </div>
                <p>{{ D.descripcion }}</p>
            </div>
        </div>

        <div class="col-12"></div>
            <div class="mapa">
                <div class="titulo-box-d">
                    <h3 class="titulo-d">LOCALIZAÇÃO</h3>
                </div>
                <p id="location-info"></p>

                <div id="map_container" style="width: 100%;">
                    <div id="map" style="width: 800px; height: 400px; margin-left: 10%;">
                    </div>
                    <div id="loading-spinner" class="loading-spinner"></div>
                </div>
            </div>
        </div>
    </div>


<script>
    let inmueble_html = true
    //Arreglo de imagenes
    let pictures = {{ fotos | safe }}
    let direccion = '{{ D.dir_inmueble }}';
    let ciudad = '{{ D.ciudad_inmueble }}';
    let videoSrc = '{{video}}'
    
</script>



{% endfor %}
{% endblock%}