{% extends 'layouts/base.html' %}

{% load static %}

{% block content %} 

  

<body>
    <div class="container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptas voluptatem ratione aperiam suscipit voluptatibus? Deleniti blanditiis maxime quam dolor magni optio tenetur adipisci, accusantium aliquam voluptatum rem repudiandae eligendi natus possimus architecto ex minima dignissimos qui. Autem fuga provident impedit deleniti soluta blanditiis et architecto natus, qui voluptate minima.          

               
    </div>
    
</body>  
{% endblock%}