<!DOCTYPE html>
<html>

<head>
    <title>Contacto - Inmobiliaria</title>
</head>

<body>
    <p>Hola, María Eugenia Cáceres!</p>

    <p>Has recibido un mensaje de contacto desde el sitio web de Inmobiliaria:</p>

    <p><strong>Nombre:</strong> {{ nombre }}</p>
    <p><strong>Correo Electrónico:</strong> {{ email }}</p>
    <p><strong>Teléfono:</strong> {{ tel }}</p>

    <p><strong>Mensaje:</strong></p>
    <p>{{ mensaje }}</p>

    <p>Por favor, responde a este mensaje a la brevedad.</p>

    <p>Saludos,</p>
    <p>Tu equipo de Inmobiliaria</p>
</body>

</html>