{% extends 'layouts/base00.html' %}

{% load static %}

{% block content %}

<div class="ordenar">
    <select name="" id="">
        <option value="">Precio mas bajo</option>
        <option value="">Precio mas alto</option>
        <option value="">Ultima actualizacion</option>
    </select>
</div>

<div class="titulo">Propiedades Destacadas</div>

<section>
    <div class="flex-destacado">
      <div class="flex-item">Destacado
      </div>
      <div class="flex-item">Destacado
      </div>
      <div class="flex-item">Destacado
      </div>
      <div class="flex-item">Destacado
      </div>
      <div class="flex-item">Destacado
      </div>
      <div class="flex-item">Destacado
      </div>
      
    </div>
  
  </section>
  



{% endblock%}