{% extends 'layouts/base00.html' %}

{% load static %}

{% block content %}

<!--Filtro de propiedades -->
<section>
<div class="container-form">
  <div class="titulo-form">
    <span>Buscar por:</span>
  </div>
  <form class="form-destino">
    <div class="form-group"><label for="origen"><i class="fa-solid fa-location-dot fa-lg" style="color:#2b90e2"></i>
      Tipo Operacion:</label>
    <select id="origen" name="origen">
      <option value="venta">Venta</option>
      <option value="alquiler-permanente">Alquiler Permante</option>
      <option value="alquiler-temporario">Alquiler Temporario</option>
    </select>
  </div>

  <div class="form-group">
    <label for="destino"><i class="fa-solid fa-location-dot fa-lg" style="color:#2b90e2"></i> Tipo Propiedad:</label>
    <select id="destino" name="destino">
      <option value="casa">Casa</option>
      <option value="departamento">Departamento</option>
      <option value="apart">Apart</option>
      <option value="Complejos">Complejos</option>
      <option value="oficina">Oficina</option>
      <option value="otros">Otros</option>
    </select>
  </div>

  
  <div class="form-group">
    <button type="submit" class="btn-search">Buscar</button>
  </div>
</form>
</div>
</section>



<h2>Resultados de la Búsqueda:</h2>
    <ul>
        {% for resultado in resultados %}
            <li>{{ resultado }}</li>
        {% endfor %}
    </ul>

<!-- Propiedades destacadas -->
<section>
<div class="flex-destacado">
  <div class="flex-item">Destacado
  </div>
  <div class="flex-item">Destacado
  </div>
  <div class="flex-item">Destacado
  </div>
  <div class="flex-item">Destacado
  </div>
</div>
</section>

<!-- Propiedades -->
<section>
<div class="flex-container">
  <div class="flex-item">Caja Flexible
  </div>
  <div class="flex-item">Caja Flexible
  </div>
  <div class="flex-item">Caja Flexible
  </div>
  <div class="flex-item">Caja Flexible
  </div>
  <div class="flex-item">Caja Flexible
  </div>
  <div class="flex-item">Caja Flexible
  </div>
  <div class="flex-item">Caja Flexible
  </div>
  <div class="flex-item">Caja Flexible
  </div>
  <div class="flex-item">Caja Flexible
  </div>
  <div class="flex-item">Caja Flexible
  </div>
  <div class="flex-item">Caja Flexible
  </div>
  <div class="flex-item">Caja Flexible
  </div>
</div>
</section>




<!--quienes somos-->

<section class="about">
  <h3>quienes somos</h3>
  <p>Son prioridad nuestros clientes y les brindamos el mejor servicio</p>
</section>

<!-- Formulario de contacto -->
<section>
<div class="container-form">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!--{{ form.as_p }}-->
    {% for f in form %}
    <input type="{{ f.field.widget.input_type }}" class="" name="{{ f.name }}" id="" placeholder="{{ f.label }}"
      value="{{ f.value | default:'' }}">
    {% endfor %}
    <button type="submit">Enviar</button>
  </form>
</div>
</section>





{% endblock%}