{% extends 'layouts/base00.html' %}

{% load static %}

{% block content %}

<!--Filtro de propiedades -->
<section class="container-filter">
    <div>
      <h3>Buscar por:</h3>
    </div>
    <form method="POST" class="form-destino">
      {% csrf_token %}
      <div class="form-group"><label for="origen">
          Tipo Operacion:</label>
        <select id="origen" name="origen">
          <option value="alquiler-temporario">Alquiler Temporario</option>
          <option value="alquiler-permanente">Alquiler Permante</option>
          <option value="venta">Venta</option>
        </select>
      </div>
      

      <div class="form-group">
        <label for="destino"> Tipo Propiedad:</label>
        <select id="destino" name="destino">
          <option value="casa">Casa</option>
          <option value="departamento">Departamento</option>
          <option value="apart">Apart</option>
          <option value="Complejos">Complejos</option>
          <option value="oficina">Oficina</option>
          <option value="otros">Otros</option>
        </select>
      </div>

      <div class="form-group">
        <input type="text" placeholder="Busca ubicacion, direcion o calle" autocomplete="off"></input>
      </div>


      <div class="form-group">
        <button type="submit" class="btn-search">Buscar</button>
      </div>
    </form>
  
</section>



<h2>Resultados de la Búsqueda:</h2>
<ul>
  {% for resultado in resultados %}
  <li>{{ resultado }}</li>
  {% endfor %}
</ul>

<!-- Propiedades destacadas -->
<section>
  <div class="flex-destacado">
    <div class="flex-item">Destacado
    </div>
    <div class="flex-item">Destacado
    </div>
    <div class="flex-item">Destacado
    </div>
    <div class="flex-item">Destacado
    </div>
  </div>
</section>

<!-- Propiedades -->
<section>
  <div class="flex-container">
    <div class="flex-item">Caja Flexible
    </div>
    <div class="flex-item">Caja Flexible
    </div>
    <div class="flex-item">Caja Flexible
    </div>
    <div class="flex-item">Caja Flexible
    </div>
    <div class="flex-item">Caja Flexible
    </div>
    <div class="flex-item">Caja Flexible
    </div>
    <div class="flex-item">Caja Flexible
    </div>
    <div class="flex-item">Caja Flexible
    </div>
    <div class="flex-item">Caja Flexible
    </div>
    <div class="flex-item">Caja Flexible
    </div>
    <div class="flex-item">Caja Flexible
    </div>
    <div class="flex-item">Caja Flexible
    </div>
  </div>
</section>




<!--quienes somos-->

<section class="about">
  <h3>quienes somos</h3>
  <p>Son prioridad nuestros clientes y les brindamos el mejor servicio</p>
</section>

<!-- Formulario de contacto -->
<section>
  <div class="container-form">
    <div class="titulo-form">
      <h3>Contacto</h3>
    </div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <!--{{ form.as_p }}-->
      {% for f in form %}
      <input type="{{ f.field.widget.input_type }}" class="" name="{{ f.name }}" id="" placeholder="{{ f.label }}"
        value="{{ f.value | default:'' }}">
      {% endfor %}
      <button type="submit">Enviar</button>
    </form>
  </div>
</section>





{% endblock%}