{% extends 'layouts/base00.html' %}

{% load static %}

{% block content %}
<div class="container-fondo">
  <div class="img-fondo">
    <img src="{% static '/assets/img/1.jpeg' %}" alt="">
  </div>
</div>
<!--Filtro de propiedades -->
<div class="search-bar">
  <h3>Buscar por:</h3>
  <div class="search-input">
    <form action="{% url 'buscar_por' %}" method="POST" class="form-destino">
      {% csrf_token %}
        <select name="por_operacion" id="por_operacion">
          <option>Tipo de Operacion</option>
          <option value="Alquiler-temporario">Alquiler Temporario</option>
          <option value="Alquiler-permanente">Alquiler Permante</option>
          <option value="Venta">Venta</option>
        </select>
  </div>
  
  <div class="search-input">   
      <select name="por_propiedad" id="por_propiedad">
          <option>Tipo Propiedad</option>
          <option value="Casa">Casa</option>
          <option value="Departamento">Departamento</option>
          <option value="Apart">Apart</option>
          <option value="Complejo">Complejo</option>
          <option value="Oficina">Oficina</option>
          <option value="Otros">Otros</option>
      </select>
  </div>
  </form>

<button type="submit" id="buscar">Send</button>
</div>
<div id="resultados">
<!-- Aquí se mostrarán los resultados de la búsqueda -->
</div>
  

<h2>Resultados de la Búsqueda:</h2>
<ul>
  {% for resultado in resultados %}
  <li>{{ resultado }}</li>
  {% endfor %}
</ul>

<!-- Propiedades destacadas -->
<section>
  <div class="flex-exclusivo">
    <a href="">
      <div class="flex-item">Exclusivo
      </div>
    </a>
    <a href="">
      <div class="flex-item">Exclusivo
      </div>
    </a>
    <a href="">
      <div class="flex-item">Exclusivo
      </div>
    </a>
    <a href="">
      <div class="flex-item">Exclusivo
      </div>
    </a>
    <a href="">
      <div class="flex-item">Exclusivo
      </div>
    </a>
    <a href="">
      <div class="flex-item">Exclusivo
      </div>
    </a>
    
  </div>

</section>


<!--quienes somos-->

<!--<section>

  Formulario de contacto
  <div class="container-form">
    <div class="titulo-form">
      <h3>CONTACTO</h3>
    </div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% for f in form %}
      <label>{{f.label}}</label>
      <input type="{{ f.field.widget.input_type }}" class="" name="{{ f.name }}" id="" placeholder="{{ f.label }}"
        value="{{ f.value | default:'' }}">
      <br>
      {% endfor %}
      <input type="submit" value="Send" id="send" class="form_enviar">
    </form> 


</section>-->





{% endblock%}