{% extends 'layouts/base00.html' %}

{% load static %}

{% block content %}


<div class="container-form-cliente">
    <div class="welcome-back">
    </div>
    <form action="" class="formulario" method="POST">
        {% csrf_token %}
        <h2 class="create-contact">CLIENTE</h2>
        <div class="iconos">
            <div class="border-icon">
                <a href=""><i class="fa-solid fa-plus" style="color: #edeff3;"></i></a> 
            </div>
            <div class="border-icon">
                <a href=""><i class="fa-solid fa-pen" style="color: #edeff3;"></i></a>
            </div>
            <div class="border-icon">
                <a href=""><i class="fa-solid fa-trash" style="color: #edeff3;"></i></a>
            </div>
        </div>
        
        <input type="text" name="" placeholder="Apellido y Nombre" required>
        <input type="number" name="" placeholder="Nº Pasaporte" required>
        <input type="text" name="" placeholder="Direccion" required>
        <input type="tel" name="" placeholder="Telefono" required>
        <input type="email" name="" placeholder="Email" required>
        <input type="text" name="" placeholder="Ciudad" required>
        <input type="text" name="" placeholder="Pais" required>
        <input type="date" name="" placeholder="Fecha Nacimiento" required><br>
        
        <input type="button" value="Send" class="form_enviar">
    </form>
</div> 

{% endblock%}