

/* CONTAINER CRUD CLIENTE*/
.container-form-cliente {
    margin: 150px 50px 50px 280px;
    /*arriba-der-abajo-izq*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid white;
    border-radius: 5px 50px;
    width: 650px;
    height: 720px;
    background-color: rgb(51, 51, 51, 0.302);
}

/* CONTAINER CRUD EMPLEADOS*/
.container-form-empleados {
    margin: 150px 50px 50px 280px;
    /*arriba-der-abajo-izq*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid white;
    border-radius: 5px 50px;
    width: 650px;
    height: 520px;
    background-color: rgb(51, 51, 51, 0.302);
}

/* CONTAINER CRUD INMUEBLES*/
.container-form-inmuebles {
    margin: 150px 50px 50px 280px;
    /*arriba-der-abajo-izq*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid white;
    border-radius: 5px 50px;
    width: 650px;
    height: 1250px;
    background-color: rgb(51, 51, 51, 0.302);
}

.create-contact {
    color: white;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.border-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
}

label, .eleccion {
    font-size: 16px;
    display: flex;
    vertical-align: middle;
    align-items: left;
    margin-top: 20px;
    padding: 12px;
    border-radius: 10px;
    float: left;
}



input, select {
    font-size: 16px;
    display: flex;
    vertical-align: middle;
    align-items: right;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    float: right;
}

input[type="checkbox"] {
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 3px;
    display: block;
}

input:checked::before {
    content: "✅";
    font-size: 11px;
    width: 100%;
    height: 100%;
    background-size: 100%; 
    display: block;
}

input[type="submit"] {
    width: 60%;
    margin: auto;
    border: solid thin #222;
    padding: .7rem;
    border-radius: 10px;
    background-color: white;
    font-weight: 600;
    margin-top: 70px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(51, 51, 51);
    float: left;
}

input[type="submit"]:hover {
    background: rgb(51, 51, 51, 0.302);
    color: white;
}

/* Mobil */
@media (max-width: 700px) {

    /* CONTAINER CRUD CLIENTE*/

}