{% extends 'layouts/base00.html' %}

{% load static %}

{% block content %}


<div class="container-form-cliente">
    <div class="welcome-back">
    </div>
    <form action="{% url 'crear_cliente' %}" class="formulario" method="POST">
        {% csrf_token %}
        
        <h2 class="create-contact">CLIENTE</h2>
        <div class="iconos">
            <div class="border-icon">
                <a href=""><i class="fa-solid fa-plus" style="color: #edeff3;"></i></a> 
            </div>
            <div class="border-icon">
                <a href=""><i class="fa-solid fa-pen" style="color: #edeff3;"></i></a>
            </div>
            <div class="border-icon">
                <a href=""><i class="fa-solid fa-trash" style="color: #edeff3;"></i></a>
            </div>
        </div>
        
        {% for c in clientes %}
        <input type="{{ c.field.widget.input_type }}" class="" name="{{ c.name }}" id="" placeholder="{{ c.label }}" value="{{ c.value | default:'' }}">

       {% endfor %}
       <span>Categoria Cliente</span>
       <select id="categoria" name="categoria" required>
        <option value="propietario">Propietario</option>
        <option value="inquilino">Inquilino</option>
    </select>
        
        <input type="submit" value="Send" class="form_enviar">
    </form>
</div> 

{% endblock%}