{% extends 'layouts/base00.html' %} {% load static %} {% block content %}

<div class="container_liq">

<h2>Liquidação de Propriedade</h2>

    <label for="nom_cliente">Nome Proprietario:</label>
    <input type="text" id="nom_cliente" name="nom_cliente" value="{{ cliente.nom_cliente }}" required>

    <label for="fecha1">Data de início:</label>
    <input type="date" id="fecha1">
    
    <label for="fecha2">Data final:</label>
    <input type="date" id="fecha2">
    <br>
    <button onclick="mostrarDetallePropiedades()"><i class="fa-solid fa-handshake"></i> Gerar </button> <!-- Botón para mostrar detalles -->

  <div class="table-container">
    <table id="propiedades">
      <thead>
        <tr>
          <th>Propiedad</th>
          <th>Rendimento</th>
          <th>Com. (%)</th>
          <th>Com. (R$)</th>
          <th>Manutenção</th>
          <th>Lucro propr.</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody id="detallePropiedades"></tbody>
    </table>
    <button type="button" onclick="javascript:genPDF()"><i class="fa-solid fa-cloud-arrow-up"></i>    Salvar PDF   </button>
  </div>
  <div id="espacioTabla"></div>

  <style>

    .container_liq {
        max-width: 850px;
        margin: 50px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    form {
        display: grid;
        gap: 10px;
    }
    
    /* Ajusta los estilos de los botones */
    button {
        background-color: rgb(183, 146, 91);
        color: black;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        flex: 1; /* Permite que los botones se ajusten dentro del contenedor */
    }
    
    button:hover {
        color: white;
    }
    
    .table-container {
  overflow-x: auto;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: rgb(183, 146, 91);
  border-radius: 5px;
}

    /* Estilos para los campos de entrada del formulario */
    input[type="text"],
    input[type="number"],
    input[type="date"] {
        width: calc(100% - 10px);
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        font-size: 14px;
        margin-top: 5px;
    }
    
    input[type="number"][readonly] {
        background-color: #f4f4f4;
        cursor: not-allowed;
    }
    
    </style>

<script src="{% static '/assets/js/liquidacion.js' %}"></script>
<script type="text/javascript" src="{% static '/assets/js/jspdf.min.js' %}"></script>

</div>    
{% endblock%}