* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

body {
    height: 150vh;
    width: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #df0e0e ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.container-form-create {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

.welcome-back {
    display: flex;
    align-items: center;
    text-align: center;
}   

.formulario {
    width: 800px;
    height: 820px;
    padding: 25px;
    margin: 25px;
    background-color: rgb(51, 51, 51, 0.602);
    text-align: center;
}

.create-event {
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.border-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    /* transition: all .3s ease-in; */
}

.border-icon:hover {
    background-color: #2a2a2c;
    cursor: pointer;
}
.column-one {
    width: 50%;
    float: left;
    position: relative;
    padding: 15px;
}

.column-two {
    width: 50%;
    float: right;
    position: relative;
    margin-top: 83px;
    padding: 15px;
    
}

.cuenta-gratis {
    padding: 2rem 0;
}

.cuenta-gratis p{
    display: flex;
}


.formulario input {
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}

.formulario input[type="button"] {
    width: 50%;
    margin-bottom: 5px;
    border: solid thin #222;
    padding: .7rem;
    border-radius: 2rem;
    background-color: #222;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: white;
    bottom: 5px;
    align-items: center;
}

.form_legend {
    display: table-column;
    border-radius: 5px;
    margin: 20px; 
    padding: 10px;
    justify-content: space-between;   
} 

.checkbox {
    display: flex;
    text-decoration: center;
    justify-content: space-around;
}

.form_enviar{
    position: relative;
    top:0em;
    left:-15em;
    z-index: -1;

}

