		/* cdn Fonts Import Link */
		@import url('https://fonts.cdnfonts.com/css/orator-std');

		/* ESTILOS GENERALES*/
		* {
		  margin: 0;
		  padding: 0;
		  box-sizing: border-box;
		  font-family: 'Orator Std', sans-serif;
		}

		html {
		  scroll-behavior: smooth;
		}

		body {
		  /* overflow: hidden;  */
		  background-color: white;
		}

		a {
		  text-decoration: none;
		}


		:root {
		  --color1: rgb(183, 146, 91);
		  /*Color principal de la pagina*/
		}



		ul {
		  list-style: none;
		}

		/* FIN DE ESTILOS GENERALES*/


		.sidebar {
		  position: fixed;
		  top: 0;
		  left: 0;
		  height: 80%;
		  width: 230px;
		  background: rgb(183, 146, 91);
		  z-index: 100;
		  transition: all 0.5s ease;
		}

		.sidebar.close {
		  width: 78px;
		}

		.sidebar .logo-details {
		  height: 60px;
		  width: 100%;
		  display: flex;
		  align-items: center;
		}

		.sidebar .logo-details img {
		  font-size: 30px;
		  color: #fff;
		  height: 50px;
		  min-width: 78px;
		  text-align: center;
		  line-height: 50px;
		}

		.sidebar .logo-details .logo_name {
		  font-size: 22px;
		  color: #fff;
		  font-weight: 600;
		  transition: 0.3s ease;
		  transition-delay: 0.1s;
		}

		.sidebar.close .logo-details .logo_name {
		  transition-delay: 0s;
		  opacity: 0;
		  pointer-events: none;
		}

		.sidebar .nav-links {
		  height: 80%;
		  /* height: 100%; */
		  padding: 30px 0 150px 0;
		  overflow: auto;
		}

		.sidebar.close .nav-links {
		  overflow: visible;
		}

		.sidebar .nav-links::-webkit-scrollbar {
		  display: none;
		}

		.sidebar .nav-links li {
		  position: relative;
		  list-style: none;
		  transition: all 0.4s ease;
		}

		.sidebar .nav-links li:hover {
		  background: white;
		}

		.sidebar .nav-links li .iocn-link {
		  display: flex;
		  align-items: center;
		  justify-content: space-between;
		}

		.sidebar.close .nav-links li .iocn-link {
		  display: block
		}

		.sidebar .nav-links li i {
		  height: 50px;
		  min-width: 78px;
		  text-align: center;
		  line-height: 50px;
		  color: black;
		  font-size: 20px;
		  cursor: pointer;
		  transition: all 0.3s ease;
		}

		.sidebar .nav-links li.showMenu i.arrow {
		  transform: rotate(-180deg);
		}

		.sidebar.close .nav-links i.arrow {
		  display: none;
		}

		.sidebar .nav-links li a {
		  display: flex;
		  align-items: center;
		  text-decoration: none;
		}

		.sidebar .nav-links li a .link_name {
		  font-size: 18px;
		  font-weight: 400;
		  color: black;
		  transition: all 0.4s ease;
		}

		.sidebar.close .nav-links li a .link_name {
		  opacity: 0;
		  pointer-events: none;
		}

		.sidebar .nav-links li .sub-menu {
		  padding: 6px 6px 14px 80px;
		  margin-top: -10px;
		  background: white;
		  display: none;
		}

		.sidebar .nav-links li.showMenu .sub-menu {
		  display: block;
		}

		.sidebar .nav-links li .sub-menu a {
		  color: black;
		  font-size: 15px;
		  padding: 5px 0;
		  white-space: nowrap;
		  opacity: 0.6;
		  transition: all 0.3s ease;
		}

		.sidebar .nav-links li .sub-menu a:hover {
		  opacity: 1;
		}

		.sidebar.close .nav-links li .sub-menu {
		  position: absolute;
		  left: 100%;
		  top: -10px;
		  margin-top: 0;
		  padding: 10px 20px;
		  border-radius: 0 6px 6px 0;
		  opacity: 0;
		  display: block;
		  pointer-events: none;
		  transition: 0s;
		}

		.sidebar.close .nav-links li:hover .sub-menu {
		  top: 0;
		  opacity: 1;
		  pointer-events: auto;
		  transition: all 0.4s ease;
		}

		.sidebar .nav-links li .sub-menu .link_name {
		  display: none;
		}

		.sidebar.close .nav-links li .sub-menu .link_name {
		  font-size: 18px;
		  opacity: 1;
		  display: block;
		}

		.sidebar .nav-links li .sub-menu.blank {
		  opacity: 1;
		  pointer-events: auto;
		  padding: 3px 20px 6px 16px;
		  opacity: 0;
		  pointer-events: none;
		}

		.sidebar .nav-links li:hover .sub-menu.blank {
		  top: 50%;
		  transform: translateY(-50%);
		}


		.sidebar .profile-details .profile_name,
		.sidebar .profile-details .job {
		  color: #fff;
		  font-size: 18px;
		  font-weight: 500;
		  white-space: nowrap;
		}

		.sidebar.close .profile-details i,
		.sidebar.close .profile-details .profile_name,
		.sidebar.close .profile-details .job {
		  display: none;
		}

		.sidebar .profile-details .job {
		  font-size: 12px;
		}

		.home-section {
		  position: absolute;
		  background-color: rgba(255, 255, 255, 0);
		  height: 20vh;
		  /*100vh*/
		  left: 260px;
		  width: calc(100% - 260px);
		  transition: all 0.5s ease;
		  padding: 0;
		}

		.sidebar.close~.home-section {
		  left: 78px;
		  width: calc(100% - 78px);
		  height: 30px;
		}

		.home-content {
		  display: flex;
		  align-items: center;
		  flex-wrap: wrap;
		  
		}

		.home-section .home-content .bx-menu,
		.home-section .home-content .text {
		  color: rgb(183, 146, 91);
		  font-size: 35px;
		}

		.home-section .home-content .bx-menu {
		  cursor: pointer;
		  margin-right: 10px;
		}

		.home-section .home-content .text {
		  font-size: 26px;
		  font-weight: 600;
		}

		/****foto de fondo******/
		.container-fondo {
		 width: 100%;
		 height: 500px;
		

		}

		/* .img-fondo {
		  width: 100%;
		  height: 60px;
		} */

		/**********/


		/*Filtro de propiedades*/

		.search-bar {
		  flex-direction: row;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  background-color: #fff;
		  padding: 10px;
		  text-align: center;
		  margin-top: 15px;
		  height: 250px;
		}

		.search-bar h3 {
		  padding: 10px;
		  margin-top: 15px;

		}

		.search-input {
		  flex-direction: row;
		  justify-content: center;
		  align-items: center;
		  margin-right: 10px;
		  margin-top: 5px;
		  padding: 10px;

		}

		/* button { */
		#buscar {
		  width: 15%;
		  border: solid thin #222;
		  padding: 10px 20px;
		  border-radius: 10px;
		  background-color: white;
		  font-weight: 600;
		  margin-top: 25px;
		  font-size: 16px;
		  cursor: pointer;
		  color: rgb(51, 51, 51);
		  flex-direction: row;
		  justify-content: flex-start;
		  align-items: flex-start;


		}

		/* button:hover { */
		#buscar:hover {
		  background-color: rgb(51, 51, 51);
		  color: white;
		}

		#resultados {
		  margin-top: 20px;
		  text-align: center;
		}


/*FOOTER */

		footer {
		  position: absolute;
		  right: 0;
		  width: 80%;
		  height: auto;
		  padding: 10px 60px 10px 60px;
		  background: white;
		  margin: 0 0 0 0;
		}

		footer .container {
		  width: 100%;
		  display: grid;
		  grid-template-columns: 50% 20% 30%;
		  justify-content: space-between;
		  grid-gap: 30px;
		}

		footer .container .sec h2 {
		  position: relative;
		  color: #333;
		  font-weight: 600;
		  margin-bottom: 15px;
		}

		footer .container .sec p {
		  color: #555;
		  margin: 0;
		}

		footer .container .sec-quicklink p {
		  font-size: 14px;  
		}

		footer .container .sci {
		  margin-top: 20px;
		  display: grid;
		  grid-template-columns: repeat(3, 50px);
		}

		footer .container .sci li {
		  list-style: none;
		}

		footer .container .sci li a {
		  display: inline-block;
		  width: 36px;
		  height: 36px;
		  background: rgb(183, 146, 91);
		  display: grid;
		  align-content: center;
		  justify-content: center;
		  text-decoration: none;
		}

		footer .container .sci li a i {
		  color: black;
		  font-size: 20px;
		}

		footer .container .quicklinks {
		  position: relative;
		  font-size: 16px;
		}

		footer .container .quicklinks ul li {
		  list-style: none;
		}

		footer .container .quicklinks ul li a {
		  color: #555;
		  text-decoration: none;
		  margin-bottom: 10px;
		  display: inline-block;
		}

		footer .container .contact .info {
		  position: relative;
		}

		footer .container .contact .info li {
		  display: grid;
		  grid-template-columns: 150px 2fr; 
		  margin-bottom: 16px;
		}

		footer .container .contact .info li span {
		  color: #555;
		  font-size: 20px;
		}

		footer .container .contact .info li a {
		  color: #555;
		  text-decoration: none;
		}

		footer .form_input {
			width: 215px; 
		  }
		  

		footer input[type="submit"]{
			width: 78%;
			margin: auto;
			border: solid thin #222;
			padding: .7rem;
			background-color: rgb(183, 146, 91);
			font-weight: 600;
			margin-top: 10px;
			font-size: 14px;
			cursor: pointer;
			color: black;
		}

		.copyrightText {
		  width: 100%;
		  background: #fff;
		  margin-top: 15px;
		  padding: 30px 100px 30px;
		  text-align: center;
		  color: rgb(183, 146, 91);
		  border: 1px solid rgba(0, 0, 0, 0.15)
		}

		@media (max-width: 991px) {
		  footer {
		    padding: 40px;
		  }

		  footer .container {
		    width: 100%;
		    display: grid;
		    grid-template-columns: repeat(2, 1fr);
		    grid-gap: 20px;
		  }

		  .copyrightText {
		    padding: 20px 40px 30px;
		  }
		}


		@media (max-width: 768px) {
		  footer .container {
		    width: 100%;
		    display: grid;
		    grid-template-columns: repeat(1, 1fr);
		    grid-gap: 20px;
		  }
		}


		@media screen and (max-width: 400px) {
		  .sidebar {
		    width: 240px;
		  }

		  .sidebar.close {
		    width: 78px;
		  }

		  .sidebar .profile-details {
		    width: 240px;
		  }

		  .sidebar.close .profile-details {
		    background: none;
		  }

		  .sidebar.close .profile-details {
		    width: 78px;
		  }

		  .home-section {
		    left: 240px;
		    width: calc(100% - 240px);
		  }

		  .sidebar.close~.home-section {
		    left: 78px;
		    width: calc(100% - 78px);
		  }

		  .flex-destacado {
		    grid-template-columns: repeat(1, 1fr);
		  }

		}